.header__wrapper {
  padding: 0 90px;
  min-height: 80px;

  display: flex;
  align-items: center;
}

.header__title {
  margin: 0;
  margin-left: 24px;
  padding: 0;

  font-family: $ff-inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%; /* 32.2px */

  color: var(--color-night-rider);
}

.header__link {
  margin-left: auto;
}

.header__link-index {
  margin-left: auto;
  margin-top: -4px;

  font-weight: 700;
}
