.tender {
  display: inline-flex;
  padding: 8px 16px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px 8px 8px 0;
  background: var(--color-yellow-green);

  color: var(--color-default-white);
  font-family: $ff-inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;

  position: absolute;
}
