.tender {
  display: inline-flex;
  padding: 8px 16px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px 8px 8px 0px;
  background: var(--color-yellow-green);

  color: var(--color-default-white);
  /* Body 18px / Bold */
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  /* 27px */

  position: absolute;
}
